<h1> update form </h1>
 
<form action="/updateuser" method="POST">
    <input type="text" name="username"
        placeholder="username">
    <input type="password" name="password"
        placeholder="password">
    <input type="text" name="accquiredXP"
        placeholder="accquiredXP">
    <input type="text" name="level"
        placeholder="level">
    <button>Submit</button>
</form>
